html, body {
    font-family:"Raleway", sans-serif;
    padding:0;
    margin:0;
    overflow-x:hidden;
}

#head {
    position:fixed;
    background-image:url("img/background.jpg");
    background-size:cover;
    background-position:center;
    height:100%;
    width:100%;
    display:block;
}

#headtext {
    position:relative;
    top:35%;
	padding:0;
    display:block;
    font-size:3.2em;
    width:100%;
    text-align:center;
}

#headlinks {
	text-align:center;
	position:relative;
    top:32%;
    font-size:1.5em;
	width:100%;
    display:block;
}

#headlinks a, #headlinks a:visited {
    color:#000;
}

#main {
    background-color:#fff;
    position:absolute;
    top:105%;
    width:100%;
}

#content {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:7% 0 7% 0;
    font-size:1.3em;
    color:#222;
}

#content a, #content a:visited {
    color:#222;
}