@font-face {
	font-family: 'Baskerville';
	src: url('OpenBaskerville.otf') format('opentype'),
	     url('fonts/OpenBaskerville.woff') format('woff'),
	     url('OpenBaskerville.ttf')  format('truetype');
	font-weight:lighter !important;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNext.otf') format('opentype');
}

@font-face {
	font-family: 'Avenir Next';
	src: url('AvenirNextBold.otf') format('opentype');
    font-weight:bold;
}

* {
	margin: 0px;
	padding:0px;
    z-index:5;
}

a {
	text-decoration:none;
	color:#000;
}

@media screen and (max-width: 399px) {
	#head {
		background-image:url("img/600.jpg");
		height:270px;
		width:100%;
		font-size:1.4em;
		display:block;
	}

	#headtitle {
		font-size:1.6em;
	}

	#headtext {
		position:relative;
	    top: 10px;
		font-size:1.3em !important;
	}
    
    #headlinks {
        top:-20px;
    }
    
    #intro {
        top:270px;
    }
    
    #intro, #us {
    	padding: 0 0 10% 0;
    }
    
    #introleft {
        float:none !important;
        padding-top:4%;
        width:90% !important;
        margin:0 auto 0 auto;
        overflow-x:hidden !important;
    }
    
    #introright {
        float:none !important;
        width:90% !important;
        margin:0 auto 0 auto;
    }
    
    .smallcenter {
        width:130%;
    }
}

@media only screen and (min-width: 1110px) {
    #head {
		background-image:url("img/style.jpg");
		height:270px;
		width:100%;
		font-size:1.4em;
		display:block;
	}
    #head {
        background-size: 100%;
    }
    
    #intro {
        top:550px;
    }
    
    #intro, #us {
    	padding: 5% 10% 10% 10%;
    }
    
    #headlinks {
        top:-85px;
    }
}

#head {
    position:fixed;
    border-top:3px solid #ff5f5f;
    background-repeat:no-repeat;
    z-index: 1 !important;
    background-attachment:fixed;
}

#headtitle {
	float:left;
	padding:3%;
	font-family: 'Baskerville', serif;
	display:inline-block;
	width:100px;
    z-index: 2 !important;
    background-attachment:fixed;
}

#headlinks {
	text-align:center;
	font-size:1.5em;
	position:relative;
    left:0px;
	width:100%;
	clear:both;
    z-index: 2 !important;
    background-attachment:fixed;
}

#headtext {
    z-index: 2 !important;
    background-attachment:fixed;
}

#intro {
    padding-top:50px;
    position:relative;
    height:610px;
    background:#fff;
}

#introleft {
	float:left;
	width:45%;
}

#introright {
	float:right;
	width:45%;
    padding-top:2%;
}

#solution {
    position:relative;
	background-color:#ff5f5f;
	color:#FFF;
	padding: 7% 7% 7% 7%;
}

#us {
    position:relative;
    background-color:#333;
    color:#fff;
    padding: 0 
}

.features {
	background-color:#FFF;
    padding:30px 7% 0 7%;
    position:relative;
}

#you {
    position:relative;
    top:70px;
	/*background-color:#ff5f5f;*/
    background-color:#FFF;
	color:#000;
    padding: 0 7% 7% 7%;
}

#you a {
    text-decoration:bold !important;
}

.white {
	color:#FFF;
}

.center {
	text-align:center;
}

.sans {
	margin-top:10px;
	font-family: "Avenir Next", sans-serif !important;
}

.paragraph {
    font-size:1.1em;
    font-family:"Baskerville", serif;
}

#introleft .large {
    font-size:2em !important;
}

.large {
    font-size:1.9em !important;
}

.headlinks {
	font-family: "Avenir Next", sans-serif !important;
	padding-left:1%;
	font-size:0.5em !important;
	text-align:center !important;
}

.header {
	font-size:150%;
}

.underline {
    text-decoration:underline;
}