body {
    background-color:#ccc;
}

button {
    background-color:#fff;
    border-radius:5px;
    height:30px;
    font-family:Gotham;
    font-size:0.7em;
    border:1px #ccc solid;
    color:#333;
}

input {
    background-color:#fff;
    border-radius:5px;
    height:30px;
    width:150px;
    font-family:Gotham;
    font-size:0.7em;
    border:1px #ccc solid;
    color:#333;
}

#container {
    position:absolute;
    top:15%;
    left:5%;
    background-color:#EEE;
    border-radius:3px;
    width:80%;
    height:65%;
    padding:5% 5% 5% 5%;
    font-family:Gotham;
    color:#333;
    z-index:1;
}

.head {
    font-family:Gotham;
    background-color:rgb(66,190,174);

    width:55%;
    height:100px;
    margin:0 0 0 4.5%;
    z-index:5;
    border-radius:5px;
    float:left;
    padding-left:2%;
    color:#fff;
}

.head h1 {
    font-family:Gotham;
    line-height:60px;
}

.menu {
    font-family:Gotham;
    background-color:rgb(54,155,139);
    width:30%;
    height:100px;
    margin:0 0 0 62.2%;
    z-index:5;
    border-radius:5px;
}

.menu li {
    width:32%;
    line-height:100px;
    display:inline-block;
}

.menu li a {
    font-size:120%;
    text-decoration:none;
    color:#fff;
}

.menu li a:hover {
    font-weight: 500;
}