html, body {
    font-family:"Raleway", sans-serif;
    padding:0;
    margin:0;
}

#head {
    position:fixed;
    top:0;
    left:0;
    background-image:url("../images/background.jpg");
    background-position:center;
    background-size:cover;
    height:100%;
    width:100%;
    z-index:1;
    text-align:center;
}

#head img {
    position: relative;
    margin: 16% auto 0 auto;
    width:192px;
    height:192px;
}


#headtext {
    margin:.2em 0 .2em 0;
    font-size:3.2em;
    width:100%;
}

#headlinks {
    font-size:1.5em;
	width:100%;
}

#headlinks a, #headlinks a:visited {
    color:#000;
}


#work {
    background-color:#2b303b;
    position:relative;
    margin-top:0px;
    width:100%;
    z-index:2;
}

.content {
    margin-left:auto;
    margin-right:auto;
    padding:7% 0 7% 0;
    font-size:1.3em;
    max-width:995px;
}

@media (max-width:599px) {
    .content {
        width:85%;
    }
    
    #work p {
        margin-left:0em;
    }
}

@media (min-width:600px) {
    .content {
        width:80%;
    }
    
    #work p {
        margin-left:2em;
    }
}


#main {
    background-color:#fff;
    position:relative;
    margin-top:0px;
    width:100%;
    z-index:2;
}

@media (max-width:449px) {
    #main {
        margin-top:150%;
    }
}

@media screen and (min-width:450px) and (max-width:599px) {
    #main {
        margin-top:117%;
    }
}

@media (min-width:600px) and (max-width:659px) {
    #main {
        margin-top:107%;
    }
}

@media (min-width:660px) and (max-width:719px) {
    #main {
        margin-top:97%;
    }
}

@media (min-width:720px) and (max-width:809px) {
    #main {
        margin-top:87%;
    }
}

@media (min-width:810px) and (max-width:909px) {
    #main {
        margin-top:77%;
    }
}

@media (min-width:910px) and (max-width:1049px) {
    #main {
        margin-top:67%;
    }
}

@media (min-width:1050px) and (max-width:1200px) {
    #main {
        margin-top:57%;
    }
}

@media (min-width:1201px) {
    #main {
        margin-top:47%;
    }
}


.darktext, .darktext a, .darktext a:visited {
    color:#333;
}

.lighttext {
    color:#fff;
}

.lighttext a, .lighttext a:visited {
    color:#1abc9c;
}