html, body {
    font-family:"Open Sans", sans-serif;
    padding:0;
    margin:0;
}

#head {
    position:fixed;
    top:0;
    left:0;
    background-image:url("../images/background.jpg");
    background-position:center;
    background-size:cover;
    height:100%;
    width:100%;
    z-index:1;
    text-align:center;
    color:#fff;
}

#work {
    background-color:#2b303b;
    position:relative;
    margin-top:0px;
    width:100%;
    z-index:2;
}

.content {
    margin-left:auto;
    margin-right:auto;
    padding:7% 0 7% 0;
    font-size:1.3em;
    max-width:995px;
}

.content p {
    margin-bottom:10px;
}

.content img {
    float:left;
    margin-top:-5px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:20px;
}

.year {
    float:left;
    width:128px;
    height:90px;
    margin-top:0px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:20px;
}


.placeholder {
    float:left;
    width:128px;
    height:90px;
    margin-top:0px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:20px;
}

@media (max-width:599px) {
    .content {
        width:85%;
    }
    
    #work p {
        margin-left:0em;
    }
    
    .content h2 {
        font-size:1.3em;
    }
}

@media (min-width:600px) {
    .content {
        width:80%;
    }
    
    #work p {
        margin-left:2em;
    }
}

@media (max-width:920px) {
    .year {
        float:none;
        display:block;
        text-align:center;
        margin-right:auto;
        margin-left:auto;
        margin-top:25px;
        margin-bottom:-70px;
    }
    
    .content img {
        float:none;
        display:block;
        margin-top:-5px;
        width:128px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
    }
    
    .placeholder {
        display:none;
    }
    
    .content h2 {
        text-align:center;
    }
}

#headlinks {
    position:relative;
    top:45px;
    display:inline-block;
    text-align:center;
    width:100%;
}

#headlinks a, #headlinks a:visited {
    color:#555;
    text-decoration:none;
}

#headlinks a:hover {
    color:#1abc9c;
    transition: color 0.2s linear;
}

#main {
    background-color:#fff;
    position:relative;
    margin-top:0;
    width:100%;
    z-index:2;
}

#bleed {
    position: relative;
    top: -127px;
    left: 50%;
    margin-left: -127px;
    width: 254px;
    height: 255px;
    margin-bottom:-130px;
}

@media (max-width:449px) {
    #main {
        margin-top:108%;
    }
    
    #headlinks {
        top:20px;
    }
    
    #bleed {
        top: -96px;
        margin-left: -96px;
        width: 192px;
        height: 192px;
        margin-bottom:-85px;
    }
}

@media screen and (min-width:450px) and (max-width:625px) {
    #main {
        margin-top:97%;
    }
    
    #headlinks {
        top:30px;
    }
    
    #bleed {
        top: -96px;
        margin-left: -96px;
        width: 192px;
        height: 192px;
        margin-bottom:-100px;
    }
}

@media (min-width:626px) and (max-width:719px) {
    #main {
        margin-top:77%;
    }
}

@media (min-width:720px) and (max-width:809px) {
    #main {
        margin-top:72%;
    }
}

@media (min-width:810px) and (max-width:909px) {
    #main {
        margin-top:67%;
    }
}

@media (min-width:910px) and (max-width:970px) {
    #main {
        margin-top:62%;
    }
}

@media (min-width:971px) and (max-width:1050px) {
    #main {
        margin-top:57%;
    }
}

@media (min-width:1051px) and (max-width:1160px) {
    #main {
        margin-top:52%;
    }
}

@media (min-width:1161px) and (max-width:1240px) {
    #main {
        margin-top:47%;
    }
    
    .content {
        padding:4% 0 4% 0 !important;
    }
}

@media (min-width:1241px) {
    #main {
        margin-top:37%;
    }
    
    .content {
        padding:4% 0 4% 0 !important;
    }
}


.darktext, .darktext a, .darktext a:visited {
    color:#333;
}

.lighttext {
    color:#fff;
}

.lighttext a, .lighttext a:visited {
    color:#1abc9c;
}

.lighttext a:hover {
    color:#fff;
    transition: color 0.2s linear;
}

.darktext a:hover {
    color:#1abc9c;
    transition: color 0.2s linear;
}